#  Barclays x GA: Python Day 1 Solutions
---

## <font color='red'> <font color='red'> Exercise: Decoding Python commands

Take a look at the Python commands below. For each command, **before you run the cell** discuss with someone sitting next to you:

* What the input to the command is
* What the output will look like 
* What the command is doing

The clue is often in the name of the command; don't overthink this exercise!

**It's always helpful to think of Python commands as having an input and an output; this helps us understand what's going on**

Converts the string to lowercase

In [ ]:
'CAPS LOCK MAKES IT SEEM LIKE IM SHOUTING'.lower()

Finds the maximum value in the list

In [ ]:
max([3,5,2,8])

---

## <font color='red'> Exercise: Arithmetic and debugging

Insert new cells into this notebook to complete each of the following exercises.

1. Evaluate the following expressions: 
    
    (a) 7-15
    
    (b) $3^7+16/3$


2. The following lines of code will result in error messages when you try to run them. Fix the code so it runs without errors:

In [1]:
7-15

-8

In [2]:
(3**7)+(16/3)

2192.3333333333335

Need to use consistent double or single quotes. Either of these solutions will work:

In [3]:
print('hello world!')

hello world!

In [4]:
print("hello world!")

hello world!

Can't add an integer to a string. Either of these solutions will work:

In [5]:
5 + 3

8

In [6]:
5+int('3')

8

Need to add brackets.

In [7]:
print("hello?")

hello?

---

## <font color='red'> Exercise: Finding help online

Use your Google and Stackoverflow skills to figure out how to retrieve, **or index, the last element in this list**

In [8]:
['the','quick','brown','fox','jumped','over','the','lazy','dog'][-1]

'dog'

Now figure out how to **index the first element in the same list**

In [9]:
['the','quick','brown','fox','jumped','over','the','lazy','dog'][0]

'the'

---

## <font color='red'> Exercise: Variables

Let's practise using variables. Write Python code to do the following:

* Create a variable called `current_year` and assign it the value 2020.
* Create another variable called `my_year_of_birth` and assign it the value of the year you were born.
* Create a third variable called `my_approx_age` by performing a calculation with the first two variables.

---

In [11]:
current_year = 2020
my_year_of_birth = 1910
my_approx_age = current_year-my_year_of_birth

print(my_approx_age)

110

---

## <font color='red'> Exercise: Strings

1. Given the string "The quick brown fox jumped over the lazy dog", write code to extract:

    (a) The following substring: "The quick brown fo"
    
    (b) The first character only
    
    (c) The last character only*
    
    (d) The substring "over the lazy dog"
    
    \*You can do this in two ways: try to find both!
    
    
2. Figure out what the following syntax does: 

```mystring[i:j:k]```, ```mystring[-1]```, ```mystring[:i]```, ```mystring[i:]```, ```mystring[:]```, ```mystring[-2]```

---

In [14]:
my_string = 'The quick brown fox jumped over the lazy dog'

# (a)
my_string[0:18]

'The quick brown fo'

In [16]:
# (b)
my_string[0]

'T'

In [17]:
# (c)
my_string[-1]

'g'

In [20]:
# (d)
my_string[27:-1] # my_string[27:] would also work

'over the lazy dog'

---

## <font color='red'> Exercise: Lists

Given the list below, write code to extract:

(a) The first element

(b) The last element

(c) The substring 'ban' from the last element

Append an extra element, 'apples', to the list

Remove the first element of the list

Reverse the order of elements in the list (you might need to Google around a bit to get the solution)

In [21]:
mylist = ['a','b','d','e',1,2,3,'124','bananas']

In [22]:
mylist[0]

'a'

In [23]:
mylist[-1]

'bananas'

In [25]:
mylist[-1][0:3]

'ban'

In [26]:
mylist.append('apples')
mylist

['a', 'b', 'd', 'e', 1, 2, 3, '124', 'bananas', 'apples']

In [27]:
del mylist[0]
mylist

['b', 'd', 'e', 1, 2, 3, '124', 'bananas', 'apples']

In [28]:
mylist[::-1]

['apples', 'bananas', '124', 3, 2, 1, 'e', 'd', 'b']

---

## <font color='red'> Exercise: Dictionaries
    
Can you retrieve the following from the `class_information_dictionary` defined below?

* Bob's favourite food
* Sarah's age
* Maryam's 3rd favourite drink

In [35]:
class_information_dictionary = {'Maryam': {'food':'pizza',
                                           'drink':['coffee','orange juice','tea'],
                                           'age':29},
                               'Bob': {'food':'dim sum',
                                          'drink':'water',
                                          'age': 21},
                               'Sarah': {'food':'lasagna',
                                         'drink': 'green tea',
                                         'age': 22}}

In [30]:
class_information_dictionary['Bob']['food']

'dim sum'

In [31]:
class_information_dictionary['Sarah']['age']

22

In [32]:
class_information_dictionary['Maryam']['drink'][2]

'tea'

Here's a dictionary that contains other dictionaries. Using a combination of keys and (where necessary) list indexing, can you retrieve the following information from `company_info_dictionary`?

* The number of companies in the dataset
* The number of employees at Wiiwork
* MeTube's founder
* The 2nd of Bloogle's founders
* All of Bloogle's office locations
* The first name of Wiiwork's first founder

In [36]:
company_info_dictionary['meta_data']['number_of_companies']

3

In [37]:
company_info_dictionary['company_data'][0]['employees']

230

In [39]:
company_info_dictionary['company_data'][1]['founders'][0]

'Sarah Williams'

In [40]:
company_info_dictionary['company_data'][2]['founders'][1]

'Lee Peterson'

In [41]:
company_info_dictionary['company_data'][2]['location']

['Mountain View', 'New York', 'Paris', 'London']

In [43]:
company_info_dictionary['company_data'][0]['founders'][0]

'Andy Newman'

In [33]:
company_info_dictionary = {'meta_data':{'number_of_companies':3,
                                       'data_last_updated':'12/01/2020'},
                           
                          'company_data':[{'name':'Wiiwork',
                                         'employees':230,
                                         'office_locations':['New York'],
                                         'founders':['Andy Newman','Mike MacIntyre']},
                                          
                                          {'name':'MeTube',
                                         'employees':100,
                                         'location':['San Francisco','London'],
                                         'founders':['Sarah Williams']},
                                          
                                          {'name':'Bloogle',
                                         'employees':5001,
                                         'location':['Mountain View','New York','Paris','London'],
                                         'founders':['Steve Brine','Lee Peterson']}                                          
                                          
                                         ]}

---

## <font color='red'> Exercise: Libraries

1. Import the 'statistics' library as 'stats' and the 'numpy' library as 'np'.

2. Use ``stats.mean()`` and ``stats.median()`` to calculate the mean and median of this list of values: ``[1.5, 2.3, 6.7, 8, 10]``

3. Repeat these calculations using the 'numpy' library and confirm the results are the same.

In [6]:
import numpy as np
import statistics as stats

my_list = [1.5, 2.3, 6.7, 8, 10]

print(stats.mean(my_list))
print(np.mean(my_list))

5.7
5.7

In [7]:
print(stats.median(my_list))
print(np.median(my_list))

6.7
6.7

---

## <font color='red'> Exercise: Writing functions

Let's write a function to calculate the final value of an investment that's accruing compound interest.

This is described by the formula:

$$TV = PV(1+r)^n$$

Where

$TV$ is the final value of the investment

$PV$ is the initial investment

$r$ is the interest rate per year 

$n$ is the number of years

1. Write a function that computes the final value of an investment, given the initial investment, interest rate, and number of years.

In [53]:
def compound_interest(PV, r, n):
    
    TV = PV*(1+r)**n
    
    return TV

2. Use your function to compute the final value of a £130 investment, assuming an interest rate of 3% over 5 years.

In [55]:
TV = compound_interest(130,0.03,5)
TV

150.705629659

3. Write a function that computes the number of years needed for an investment reach a given multiple of its initial value, also given the interest rate. (**hint: you'll need to rearrange the formula to make $n$ the subject**, and you'll need the ``math`` library)

We start by rearranging the formula:

$$\dfrac{TV}{PV} = (1+r)^n$$

We can redefine $\dfrac{TV}{PV}$ as our 'multiple'; that is, how many times greater the final value of our investment is compared to the initial value.

$$multiple = (1+r)^n$$

We can take logs of both sides to deal with $n$

$$log\:multiple = nlog(1+r)$$

We can rearrange some more to make $n$ the subject:

$$n=\dfrac{log\:multiple}{log(1+r)}$$

Now we have our formula for the number of years needed for an investment to reach a given multiple of its initial value, we can code it up in Python:

In [56]:
import math

def get_years(multiple,r):
    
    n = math.log(multiple)/math.log(1+r)
    
    return n

4. Use your function to work out how many years are needed for an investment to double in value, assuming an interest rate of 0.01%

In [57]:
n = get_years(2,0.01)
n

69.66071689357483

#### ---

## <font color='red'> Exercise: Logical tests

Predict what the outcomes of these logical tests will be, then run the cells to check your predictions.

In [58]:
(6 <= 6) and (5 < 3)

# True and False -> False

False

In [59]:
3 < 2 or 45 % 3 == 15

# False or False -> False

False

In [61]:
60 - 45 / 5 + 10 == 1

False

In [62]:
(6 <= 6) or (5 < 3)

# True or False -> True

True

In [63]:
(5 < 3) and (6 <= 6) or (5 != 6)

# (False and True) or True -> True

True

In [65]:
not((5 < 3) and ((6 <= 6) or (5 != 6)))

# False and (True or True) -> False
# not False -> True

True

---

## <font color='red'> Exercise: Odd or even?
    
Write a function called ``odd_or_even``. It should take a single integer as an input.

If the integer is even, the output of the function should be the string "even!" and if the integer is odd, the output should be "odd!"

To do this, you will need to use the ``%`` operator.

In [69]:
def odd_or_even(number):
    
    if number%2==0:
        print('even!')
    else:
        print('odd!')

In [70]:
odd_or_even(1)

odd!

In [71]:
odd_or_even(4)

even!

---
## <font color='red'> Exercise: FizzBuzz

Use a ``for`` loop together with the ``range`` function to print all the whole numbers from 1 to 100. 

But for multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". 

For numbers which are multiples of both three and five print "FizzBuzz".

**For context**: The ``fizzbuzz`` question is well known as an exercise used in programming interviews. It was devised by Imran Ghory, and popularised by Jeff Atwood: 

https://imranontech.com/2007/01/24/using-fizzbuzz-to-find-developers-who-grok-coding/ 

---

In [72]:
for i in range(1,101):
    
    if (i%3==0) and (i%5==0):
        print('fizzbuzz')
    elif (i%5==0):
        print('buzz')
    elif (i%3==0):
        print('fizz')
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

---
## <font color='red'> Exercise: Compound interest (again)
    
Let's go back to our compound interest formula:

$$TV = PV(1+r)^n$$

Where

$TV$ is the final value of the investment

$PV$ is the initial investment

$r$ is the interest rate per year 

$n$ is the number of years

Suppose we'd like to know for how many years we have to keep 100 pounds on a savings account to reach 200 pounds simply due to annual payment of interest at a rate of 5%. Write code using a ``while`` loop to show that this will take 15 years.

---

In [84]:
PV = 100
TV = 100
n = 1
r = 0.05

while(TV<200):

    TV = PV*(1+r)**n
    print("after ",str(n)," years the value of the investment will be ", str(TV))
    n = n+1

after  1  years the value of the investment will be  105.0
after  2  years the value of the investment will be  110.25
after  3  years the value of the investment will be  115.76250000000002
after  4  years the value of the investment will be  121.55062500000003
after  5  years the value of the investment will be  127.62815625000003
after  6  years the value of the investment will be  134.00956406250003
after  7  years the value of the investment will be  140.71004226562505
after  8  years the value of the investment will be  147.7455443789063
after  9  years the value of the investment will be  155.13282159785163
after  10  years the value of the investment will be  162.8894626777442
after  11  years the value of the investment will be  171.0339358116314
after  12  years the value of the investment will be  179.585632602213
after  13  years the value of the investment will be  188.56491423232367
after  14  years the value of the investment will be  197.99315994393987
after  15  years the value of the investment will be  207.89281794113688

---