#  Barclays x GA: Python Day 1 Solutions
---

---

## <font color='red'> Exercise: Writing functions

Let's write a function to calculate the final value of an investment that's accruing compound interest.

This is described by the formula:

$$TV = PV(1+r)^n$$

Where

$TV$ is the final value of the investment

$PV$ is the initial investment

$r$ is the interest rate per year 

$n$ is the number of years

1. Write a function that computes the final value of an investment, given the initial investment, interest rate, and number of years.

In [53]:
def compound_interest(PV, r, n):
    
    TV = PV*(1+r)**n
    
    return TV

2. Use your function to compute the final value of a £130 investment, assuming an interest rate of 3% over 5 years.

In [55]:
TV = compound_interest(130,0.03,5)
TV

150.705629659

3. Write a function that computes the number of years needed for an investment reach a given multiple of its initial value, also given the interest rate. (**hint: you'll need to rearrange the formula to make $n$ the subject**, and you'll need the ``math`` library)

We start by rearranging the formula:

$$\dfrac{TV}{PV} = (1+r)^n$$

We can redefine $\dfrac{TV}{PV}$ as our 'multiple'; that is, how many times greater the final value of our investment is compared to the initial value.

$$multiple = (1+r)^n$$

We can take logs of both sides to deal with $n$

$$log\:multiple = nlog(1+r)$$

We can rearrange some more to make $n$ the subject:

$$n=\dfrac{log\:multiple}{log(1+r)}$$

Now we have our formula for the number of years needed for an investment to reach a given multiple of its initial value, we can code it up in Python:

In [56]:
import math

def get_years(multiple,r):
    
    n = math.log(multiple)/math.log(1+r)
    
    return n

4. Use your function to work out how many years are needed for an investment to double in value, assuming an interest rate of 0.01%

In [57]:
n = get_years(2,0.01)
n

69.66071689357483

#### ---

## <font color='red'> Exercise: Logical tests

Predict what the outcomes of these logical tests will be, then run the cells to check your predictions.

In [58]:
(6 <= 6) and (5 < 3)

# True and False -> False

False

In [59]:
3 < 2 or 45 % 3 == 15

# False or False -> False

False

In [61]:
60 - 45 / 5 + 10 == 1

False

In [62]:
(6 <= 6) or (5 < 3)

# True or False -> True

True

In [63]:
(5 < 3) and (6 <= 6) or (5 != 6)

# (False and True) or True -> True

True

In [65]:
not((5 < 3) and ((6 <= 6) or (5 != 6)))

# False and (True or True) -> False
# not False -> True

True

---

## <font color='red'> Exercise: Odd or even?
    
Write a function called ``odd_or_even``. It should take a single integer as an input.

If the integer is even, the output of the function should be the string "even!" and if the integer is odd, the output should be "odd!"

To do this, you will need to use the ``%`` operator.

In [69]:
def odd_or_even(number):
    
    if number%2==0:
        print('even!')
    else:
        print('odd!')

In [70]:
odd_or_even(1)

odd!

In [71]:
odd_or_even(4)

even!

---
## <font color='red'> Exercise: FizzBuzz

Use a ``for`` loop together with the ``range`` function to print all the whole numbers from 1 to 100. 

But for multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". 

For numbers which are multiples of both three and five print "FizzBuzz".

**For context**: The ``fizzbuzz`` question is well known as an exercise used in programming interviews. It was devised by Imran Ghory, and popularised by Jeff Atwood: 

https://imranontech.com/2007/01/24/using-fizzbuzz-to-find-developers-who-grok-coding/ 

---

In [72]:
for i in range(1,101):
    
    if (i%3==0) and (i%5==0):
        print('fizzbuzz')
    elif (i%5==0):
        print('buzz')
    elif (i%3==0):
        print('fizz')
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

---
## <font color='red'> Exercise: Compound interest (again)
    
Let's go back to our compound interest formula:

$$TV = PV(1+r)^n$$

Where

$TV$ is the final value of the investment

$PV$ is the initial investment

$r$ is the interest rate per year 

$n$ is the number of years

Suppose we'd like to know for how many years we have to keep 100 pounds on a savings account to reach 200 pounds simply due to annual payment of interest at a rate of 5%. Write code using a ``while`` loop to show that this will take 15 years.

---

In [84]:
PV = 100
TV = 100
n = 1
r = 0.05

while(TV<200):

    TV = PV*(1+r)**n
    print("after ",str(n)," years the value of the investment will be ", str(TV))
    n = n+1

after  1  years the value of the investment will be  105.0
after  2  years the value of the investment will be  110.25
after  3  years the value of the investment will be  115.76250000000002
after  4  years the value of the investment will be  121.55062500000003
after  5  years the value of the investment will be  127.62815625000003
after  6  years the value of the investment will be  134.00956406250003
after  7  years the value of the investment will be  140.71004226562505
after  8  years the value of the investment will be  147.7455443789063
after  9  years the value of the investment will be  155.13282159785163
after  10  years the value of the investment will be  162.8894626777442
after  11  years the value of the investment will be  171.0339358116314
after  12  years the value of the investment will be  179.585632602213
after  13  years the value of the investment will be  188.56491423232367
after  14  years the value of the investment will be  197.99315994393987
after  15  years the value of the investment will be  207.89281794113688

---

## <font color='red'> Exercise: Can I get a mortgage?

Write a function to help house buyers understand if they can afford a mortgage for the property they want. 

The inputs to the function should be:
* The buyers' total income
* The price of the property they want to buy
* The size of their deposit

Assume that a bank will only grant them a mortgage under the following conditions:
* The deposit must be at least 10% of the purchase price
* The mortgage can be a maximum of 4.5x the buyers' total income 

The outputs from the function should be a string that explains whether the buyer can afford the property or not.

In [3]:
def mortgage_calculator(buyer_salary,deposit_size,property_price):
    
    mortgage_size = property_price-deposit_size
    deposit_percentage = 100*deposit_size/property_price
    
    if (deposit_percentage>=10) and (mortgage_size<=4.5*buyer_salary):
        print('You can afford this property!')
        
    else:
        print('Sorry, you can\'t afford this property. Your deposit needs to be larger or your income needs to be higher')

Once you've written your function, test it out on these case studies and record your results:

1. Jamila earns £25,000 as a trainee teacher. She's found a flat in Newcastle she loves for £160,000. She has a £25,000 deposit saved up. Can she afford this flat?

In [4]:
mortgage_calculator(25000,25000,160000)

Sorry, you can't afford this property. Your deposit needs to be larger or your income needs to be higher

2. James earns £60,000 as a software developer and Christopher earns £80,000 as a lawyer. They've found a flat in London for £500,000. With a £50,000 deposit, will they be able to afford this flat?

In [ ]:
mortgage_calculator(140000,50000,500000)

## <font color='red'> Exercise: Reading in pay gap data
    

---

In [1]:
import pandas as pd

pay_gap_2019_20 = pd.read_csv('./data/UK Gender Pay Gap Data - 2019 to 2020.csv',header=2)

In [3]:
pay_gap_2019_20.head()

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline,DueDate,DateSubmitted
0,1ST CHOICE STAFF RECRUITMENT LIMITED,"1ST CHOICE RECRUITMENT,\r\n8 St. Loyes Street,...",7972006,78109,-2.3,0.0,-114.8,-249.3,1.1,0.4,...,37.1,50.0,50.0,https://www.1stchoice.net/gender-pay-gap-repor...,Gill Knight (MD),250 to 499,1ST CHOICE STAFF RECRUITMENT LIMITED,False,05/04/2020 00:00,24/01/2020 09:37
1,23.5 DEGREES LIMITED,"Unit 3 Hedge End Retail Park, Charles Watts Wa...",8014079,56103,10.0,0.0,79.0,35.0,4.0,2.0,...,70.0,31.0,69.0,https://www.23-5degrees.com/gender-pay-gap,Luca Contardo (CFO),500 to 999,23.5 DEGREES LIMITED,False,05/04/2020 00:00,11/11/2019 15:33
2,A. & B. GLASS COMPANY LIMITED,"Addison Road,\r\nChilton Industrial Estate,\r\...",1543721,43342,19.0,4.0,42.0,45.0,70.0,41.0,...,24.0,90.0,10.0,NaN,PHILIP FARNELL (GROUP HR MANAGER),250 to 499,A. & B. GLASS COMPANY LIMITED,False,05/04/2020 00:00,20/05/2019 16:34
3,A.B.M. CATERING LIMITED,"Eagle Court,\r\n63-67 Saltisford,\r\nWarwick,\...",4168334,"56290,\r\n70100",21.7,16.5,-70.3,61.5,15.1,6.5,...,87.8,33.9,66.1,http://www.abmcatering.co.uk/wp-content/upload...,Sue Hill (Finance & HR Director - Operations),1000 to 4999,A.B.M. CATERING LIMITED,False,05/04/2020 00:00,29/01/2020 12:20
4,A.G. BARR P.L.C.,"Westfield House,\r\n4 Mollins Road,\r\nCumbern...",SC005653,11070,2.3,-6.8,41.9,-3.0,93.1,94.3,...,24.0,65.0,35.0,https://www.agbarr.co.uk/responsibility/we-act...,Doug Brown (Head of Human Resources),500 to 999,A.G. BARR P.L.C.,False,05/04/2020 00:00,23/01/2020 11:57

In [4]:
pay_gap_2019_20.shape

(992, 25)

---
## <font color='red'> Exercise: Column calculations
    
1. Figure out how to use the `mean()` `DataFrame` method to work out the mean value of the 
`DiffMeanHourlyPercent` column.


2. Drop the `FemaleTopQuartile` column from the `DataFrame`.

In [ ]:
pay_gap_2019_20['DiffMeanHourlyPercent'].mean()

In [ ]:
pay_gap_2019_20.drop(columns=['FemaleTopQuartile'],inplace=True)

---
## <font color='red'> Exercise: Filtering rows and columns
    
1. Select companies where the median hourly pay gap is in favour of women, i.e. where `DiffMedianHourlyPercent` is **negative**


2. Select companies that have 'college' in the name


3. Select companies that have a mean hourly pay gap greater than 10%, i.e. where `DiffMeanHourlyPercent` is greater than 10

In [ ]:
pay_gap_2019_20[pay_gap_2019_20['DiffMedianHourlyPercent']<0]

In [ ]:
pay_gap_2019_20['EmployerName'].str.lower().str.contains('college')

In [ ]:
pay_gap_2019_20[pay_gap_2019_20['DiffMeanHourlyPercent']>10]

---
## <font color='red'> Exercise: Sorting data
    
1. Which company has the lowest median hourly pay gap?


2. Which companies have the top 5 highest mean hourly pay gap?

In [ ]:
pay_gap_2019_20.sort_values(by='DiffMedianHourlyPercent',ascending=True)

In [ ]:
pay_gap_2019_20.sort_values(by='DiffMeanHourlyPercent',ascending=False)